[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fuzzywuzzy = {extras = ["speedup"]}
nltk = "*"
matplotlib = "*"
textblob = "*"
afinn = "*"
librosa = "*"
pysoundfile = "*"


[dev-packages]

[requires]
python_version = "3.6"